black
django==3.1.7
boto3==1.12.39
django-storages==1.8
pillow==8.1.0
monthdelta==0.9.1
psycopg2==2.8.5
django-environ==0.4.5
djangorestframework==3.12.2
secure==0.2.1
django-axes==5.5.0
jinja2==2.11.3

django-crispy-forms==1.8.1
django-bootstrap4==2.3.1
django-grappelli==2.13.2
django-chartjs==1.5.0

pyyaml
pytest
pytest-django
pytest-cov
pytest-socket==0.3.3
requests==2.22.0
responses==0.10.7
debugpy==1.2.1
pytest-icdiff==0.5
